body {
    position: absolute;
    top: 0;
    left: 35%;
    background-image: url(Untitled\ drawing\ \(2\).png);
    background-repeat: no-repeat;
    background-position: 30% 30%;
    background-size: cover;
    font-size: larger;
    color: darkblue;
}

footer {
    font-size: 1rem;
    margin-inline-start: 6rem;
}

footer > p {
    margin-inline-end: 0;
}