@charset "UTF-8";

body {
    background-color: whitesmoke;
    text-align: center;
    text-shadow: indigo;
    flex-direction: column;
    min-height: 100vh;
    max-width: 30rem;
}
h1 {
    color: darkblue;
}
h2 {
    box-shadow: lightgoldenrodyellow;
    color: mediumblue;
}
ul {
    background-color: lavender;
}
h3 > * {
    color: navy;
}
footer {
    background-color: steelblue;
    color: snow;
}
