body {
    background-color: silver;
}

a {
    text-decoration: none;
    color: blue;
}
.container {
    max-width: 1114px;
    margin: auto;
    background-color: white;
    padding: 1rem;
    display: grid;
    justify-content: center;
    padding-bottom: 210px;
    padding-top: 130px;
    border-radius: 5px;
}

.index {
    padding-top: 1rem;
}
    
details {
    padding-bottom: 2rem;
}

summary {
    text-transform: uppercase;
}

ul {
    list-style: none;
}