body {
    background-image: url(Untitled\ drawing.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 50% 0;
    background-color: rgba(14, 210, 210, 0.6);
}
 
.container {
    max-width: 1114px;
    margin: auto;
    padding: 2rem;
    display: grid;
    justify-content: center;
}

ul {
    padding: 0;
}

li {
    font-size: 2rem;
    transition: all 0.5s;
}

li > a {
    text-decoration: none;
    color: indigo;
    text-transform: uppercase;
}

a:hoover {
    text-decoration: underline;
    transform: scale(0.5);
}

a:active {
    color: orangered;
    transition: all 0.5s;
    text-transform: lowercase;
}

div {
    padding-block-start: 8rem;
    padding-inline-start: 1rem;
    font-size: larger;
    transition: all 0.5s;
}

div > a {
    text-decoration: none;
}